<a href="https://colab.research.google.com/github/nishkarsh-coder/python-practise/blob/main/set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Set { }



*   Not Scriptable(ordered nahi hota isliye hum isko index ki help se access nahi kar sakte..)
*Could be Heteregeneous
* Not Ordered
* Immutable(kyonki ye scriptable hota nahi hai isliye kisi element ko change karna possible nahi hai par haan isme hum elemnt add kar sakte hai aur delete kar sakte hai par change nahi kar sakte)
* no Repetitons Allowed(unique values)
*  hum isme append() se nahi add() se element add karte hai
*  we cannot be used + operator on sets but we can use - opeartor on sets.

In [1]:
sets={"nishu","Apple",45,68}
print(type(sets))

<class 'set'>

In [3]:
sets[2]  #we can not do scripting

TypeError: ignored

In [4]:
sets[5]=6  #we can not change set item because set is not scriptable..  so basically set is immutable..

TypeError: ignored

## ADD Element
append() se nahi add() se add hote hai elemnet set m

In [5]:
sets.append("ramu")  
print(sets)

AttributeError: ignored

In [6]:
# add fucntion ek time pe ek hi element add karta hai

sets.add("ramu")
print(sets)

#update function ek time pe multiple elemnts ko add karta hai

sets.update(["kin",5,"hello"])
print(sets)

{68, 'nishu', 45, 'Apple', 'ramu'}
{68, 5, 'nishu', 45, 'Apple', 'kin', 'hello', 'ramu'}

## REMOVE Element


we can remove elemnt using two funciton
1.   remove()
2.   discard()

Main differnce bewteen both of them is that the discard() function leaves a set unchanged if the element is not present in the set. On the other hand, the remove() function will raise an error in such a condition (if element is not present in the set).

In [7]:
# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

# remove an element
# not present in my_set
# you will get an error.
# Output: KeyError

my_set.remove(2)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

KeyError: ignored



## Convert different type of iterables into set..
#### using set() function
1.list

In [8]:
list1=["ramu","sham",56,"sona",56.5]
set1=set(list1)
print(set1)
print(type(list1))

{56, 'sona', 'sham', 'ramu', 56.5}
<class 'list'>

2.tuple

In [9]:
tuples=(1,22,56,"nishu")
set2=set(tuples)
print(set2)

{56, 1, 22, 'nishu'}

3.dictionary

  i) yaad rakhna hai agar dict ko set() ke andar likhenge toh keys ko set m convert karega only
  
  ii) agar hume values ko set m likhna hai toh dict.values() likhna padhega set() ke andar

In [10]:
dicts={"nishu":56,"ramu":98,"sham":"hey"}
set3=set(dicts)
print(set3)

{'ramu', 'sham', 'nishu'}

In [11]:
set4= set(dicts.values())
print(set4)

{56, 98, 'hey'}

In [12]:
set5=set(dicts.items())
print(set5)

{('sham', 'hey'), ('nishu', 56), ('ramu', 98)}

# Methods in set

###1. union

union karne ke liye **set_name1.union(set_name2)** or **set1|set2** m se kisi ek ka istemaal karte hai..

In [13]:
print(set1)
print(set2)

{56, 'sona', 'sham', 'ramu', 56.5}
{56, 1, 22, 'nishu'}

In [14]:
# if we want union of set1 nd set2 
set6= set1.union(set2)
print(set6)

# and we have another alternative also
set7=set1|set2
print(set7)

we have both option

SyntaxError: ignored

### 2. intersection

agar apne ko intersection karna ho 2 set ka toh set1.**intersection(set2)** yaa **set1&set2** operator m se koi ek 

istemal kar sakte hai..

In [ ]:
set8=set1.intersection(set2)
print(set8)
set9= set1&set2
print(set9)

### note(important question):
set m ordering se matlab nahi hota...
elements se hota hai

In [15]:
#Question1
a={1,2,3,4,5,6}
b={6,1,3,4,5,2}

print(a==b)

True

In [16]:
#Question 2
x={1,True,("a","b","a")}
print(len(x))

# In sets True is evaluated to 1. now x becomes {1,1,(\"a\",\"b\",\"a\")} after removing duplicates length of x is 2

2

In [17]:
print(x)

{1, ('a', 'b', 'a')}